html,
body {
	background-color: #FCFCFC;
	font-family: 'Comfortaa', cursive;
	margin:0;
	padding:0;
	height:100%;
	color: #34495E;
	letter-spacing: 2px;
}



.container{
	width: 70%;
}

.nav {
	padding-top: 5px;
	font-weight: 300;
}

.navbar-header {
	margin-top: 5px;
}

.navbar-nav {
	float: right;
}

.navbar-inverse .navbar-nav li a{
	color: #ffffff;
}

.navbar-inverse .navbar-nav li a:hover{
	color: #F77474;
}

#navbar {
	width: 100%;
	height: 60px;
	border: none;
	background-image: url('../img/header-background.png');
	background-size: cover;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}


/*header*/
.logo {
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: 300;
}

.logoicon {
	width: 30px;
	float: left;
	margin-top: -5px;
	margin-right: 10px;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}
#footer {
	width:100%;
	height:auto;
	position:absolute;
	bottom:10px;
	left: auto;
	right: auto;
	text-align: center;
}

#footer ul {
	width: 300px;
	list-style: none;
	text-align: center;
	font-size: 12px;
	margin: 0 auto;
	

}

#footer ul li{
	float: left;
	margin-right: 20px;

}

#footer ul li a{
	color: #BEBEBE;

}

#footer ul li a:hover{
	color: #F77474;
	text-decoration: none;
}





/*meeting page*/

.content {
	margin-top: 100px;
	padding-bottom: 100px;
}

.meetinginfo {
	width: 100%;
	/*background-color: gray;*/
}

.meetinginfo a {
	text-decoration: none;
	width: 40px;
}

.info {
	text-align: center;
}

.info h2 {
	font-weight: 300;
}

.info h5 {
	font-weight: 700;
	margin-top: 30px;
}

.datetime {
	width: 400px;
	height: 400px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid #F2F2F2;
}

.caltop {
	width: 100%;
	height: 60px;
	background-color: #F87575;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 90px;
}

.caltop p {
	font-size: 25px;
	color: #ffffff;
	padding-top: 12px;
	font-weight: 300;
}

.time {
	font-size: 40px;
	font-weight: 300;
	padding-bottom: 20px;
}

.btns {
	width: 400px;
	margin: 0 auto;
	margin-top: 40px;
}

.btn-danger {
	border-radius: 100px;
	background-color: #F87575;
	border: none;
	width: 197px;
	height: 40px;
}

.btn-danger:hover {
	background-color: #F26363;
}

.btn-success {
	border-radius: 100px;
	background-color: #74F7A8;
	border: none;
	width: 197px;
	height: 40px;
}

.btn-success:hover {
	background-color: #60E593;
}

.questionmark {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	border: 1px solid #BAC1C8;
	color: #BAC1C8;
	text-align: center;
	padding-top: 8px;
	padding-left: 1px;
	font-size: 16px;
	margin: 0 auto;
	margin-top: 50px;
}


.moredates {
	width: 100%;
	margin-top: 100px;
	text-align: center;
	/*background-color: gray;*/
}

.moredates .available {
	margin-bottom: 40px;
}

.moredate {
	width: 120px;
	height: 120px;
	background-color: #ffffff;
	border-radius: 10px;
	float: left;
	margin-right: 65px;
	border: 2px solid #F2F2F2;
}

.moredate .caltop {
	height: 20px;
	margin-bottom: 15px;
}

.moredate .time {
	font-size: 20px;
	padding-bottom: 0;
}

